.record-detail {
  padding: 2em;
  height: calc(100vh - 120px);
  overflow: hidden;

  .title {
    text-align: center;
  }

  .divider {
    margin: 1em 0;
  }

  .content {
    height: calc(100vh - 240px);
    overflow: auto;
  }
}
