.record-editor {
  padding: 2em;
  height: calc(100vh - 120px);
  overflow: hidden;

  .form-buttons {
    margin: 0 auto;
    margin-top: 1em;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}

.bf-content {
  background-color: #fff;
  height: calc(100vh - 440px) !important;
}
